<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yooonn.explore.basic.dao.ActorCountryMapper">
  <resultMap id="BaseResultMap" type="top.yooonn.explore.basic.dao.model.ActorCountry">
    <!--@mbg.generated-->
    <!--@Table actor_country-->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="actor_id" jdbcType="BIGINT" property="actorId"/>
    <result column="country_id" jdbcType="INTEGER" property="countryId"/>
    <result column="memo" jdbcType="VARCHAR" property="memo"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="was_delete" jdbcType="TINYINT" property="wasDelete"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, actor_id, country_id, memo, create_time, update_time, was_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from actor_country
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete
    from actor_country
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="top.yooonn.explore.basic.dao.model.ActorCountry" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into actor_country (actor_id, country_id, memo,
    create_time, update_time, was_delete)
    values (#{actorId,jdbcType=BIGINT}, #{countryId,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{wasDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="top.yooonn.explore.basic.dao.model.ActorCountry" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into actor_country
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="actorId != null">
        actor_id,
      </if>
      <if test="countryId != null">
        country_id,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="wasDelete != null">
        was_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="actorId != null">
        #{actorId,jdbcType=BIGINT},
      </if>
      <if test="countryId != null">
        #{countryId,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wasDelete != null">
        #{wasDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.yooonn.explore.basic.dao.model.ActorCountry">
    <!--@mbg.generated-->
    update actor_country
    <set>
      <if test="actorId != null">
        actor_id = #{actorId,jdbcType=BIGINT},
      </if>
      <if test="countryId != null">
        country_id = #{countryId,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wasDelete != null">
        was_delete = #{wasDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.yooonn.explore.basic.dao.model.ActorCountry">
    <!--@mbg.generated-->
    update actor_country
    set actor_id = #{actorId,jdbcType=BIGINT},
    country_id = #{countryId,jdbcType=INTEGER},
    memo = #{memo,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    update_time = #{updateTime,jdbcType=TIMESTAMP},
    was_delete = #{wasDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByCountryId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from actor_country
    where country_id = #{countryId,jdbcType=BIGINT}
  </select>
</mapper>