<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ycourlee.explore.basic.dao.CountryMapper">
  <resultMap id="BaseResultMap" type="com.ycourlee.explore.basic.dao.model.Country">
    <!--@mbg.generated-->
    <!--@Table country-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="capital" jdbcType="VARCHAR" property="capital" />
    <result column="universal_region" jdbcType="VARCHAR" property="universalRegion" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="was_delete" jdbcType="BOOLEAN" property="wasDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, `language`, capital, universal_region, memo, create_time, update_time, 
    was_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from country
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from country
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ycourlee.explore.basic.dao.model.Country" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into country (code, `language`, capital, 
      universal_region, memo, create_time, 
      update_time, was_delete)
    values (#{code,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, #{capital,jdbcType=VARCHAR}, 
      #{universalRegion,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{wasDelete,jdbcType=BOOLEAN})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ycourlee.explore.basic.dao.model.Country" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into country
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="language != null">
        `language`,
      </if>
      <if test="capital != null">
        capital,
      </if>
      <if test="universalRegion != null">
        universal_region,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="wasDelete != null">
        was_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="capital != null">
        #{capital,jdbcType=VARCHAR},
      </if>
      <if test="universalRegion != null">
        #{universalRegion,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wasDelete != null">
        #{wasDelete,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ycourlee.explore.basic.dao.model.Country">
    <!--@mbg.generated-->
    update country
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        `language` = #{language,jdbcType=VARCHAR},
      </if>
      <if test="capital != null">
        capital = #{capital,jdbcType=VARCHAR},
      </if>
      <if test="universalRegion != null">
        universal_region = #{universalRegion,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wasDelete != null">
        was_delete = #{wasDelete,jdbcType=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ycourlee.explore.basic.dao.model.Country">
    <!--@mbg.generated-->
    update country
    set code = #{code,jdbcType=VARCHAR},
      `language` = #{language,jdbcType=VARCHAR},
      capital = #{capital,jdbcType=VARCHAR},
      universal_region = #{universalRegion,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      was_delete = #{wasDelete,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>